---
import { Icon } from "astro-icon";
---

<a
    href="/projects"
    class="group border-white border flex relative items-center rounded-xl py-3 px-6 text-center text-md-l font-medium transition-colors hover:bg-white hover:text-black cursor-interaction"
>
    <span
        class="ml-4 text-transparent group-hover:text-black transition-colors duration-300"
        >View more projects</span
    >
    <Icon
        class="arrow inline-block absolute left-1/2 -translate-x-1/2 ease-out fill-white duration-700 group-hover:fill-black group-hover:left-[90%] transition-all"
        width="28"
        name="arrow-right"
    />
</a>
