<div class="bg-blur">
    <slot />
</div>

<style>
    .bg-blur {
        background: rgba(30, 30, 30, 0.5);
        backdrop-filter: blur(10px);
        background-image: url("/noise.webp");
    }
</style>
