---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"a"> {}

const { class: className, href, ...rest } = Astro.props;

const path = Astro.url.pathname.replace(".html", "");
---

<a
  href={href}
  {...rest}
  class:list={[
    "font-inter !no-underline text-md md:text-sm tracking-tighter relative",
    { "after:opacity-100 after:translate-y-0": path === href },
  ]}
>
  <slot />
</a>

<style>
  a::after {
    opacity: 0;
    transform: translateY(10px);
    transition: transform 0.3s, opacity 0.3s;
    bottom: 0px;
    left: -2px;
    position: absolute;
    content: "";
    background-color: white;
    width: calc(100% + 5px);
    height: 2px;
    display: inline-block;
    pointer-events: none;
  }

  a:hover::after {
    transform: translateY(0px);
    opacity: 1;
  }
</style>
